{% extends "navbar.html" %}
{% load static %}

{% block title %}About Us - Book Warm Library{% endblock title %}

{% block extra_style %}
  <style>
        body {
            background-image: url("{% static 'images/about_bg.jpg' %}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .about-gallery{
            background-color:rgb(240, 240, 220) !important;
            display: flex;
            margin-top:2px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
            height: 50vh;
        }
        img{
            height: 95%;
            border-radius: 10px;
        }
  </style>
{% endblock %}

{% block content %}
    <div class="container-fluid about-gallery shadow-lg p-1 m-1 ">
        <div class="col-md-8 mt-5">
           <h3><strong>Welcome to Book Library — Where Knowledge Meets Convenience</strong></h3>
            <p>At Book Library, we believe that books are the doorway to endless possibilities.</p>
            <p> Our online platform is designed to make reading more accessible, efficient, and enjoyable for everyone. </p>
            <p>From timeless classics to modern bestsellers, our digital library hosts a diverse collection tailored to students, professionals, educators, and book lovers.    </p>
        </div>
        <div class="col-md-4 m-2">
            <img src="{% static 'images/about1.avif' %}" alt="about1">
        </div>
    </div>

    <div class="container-fluid  about-gallery shadow-lg p-1 m-1 mt-5 ">
        <div class="col-md-4 m-2">
            <img src="{% static 'images/about2.avif' %}" alt="about2">
        </div>
        <div class="col-md-8 m-5">
            <h4><strong>💡 Why Choose Book Library?</strong> </h4>
            <p> Explore a curated collection of books across various genres and subjects.</p>
            <p>Instantly check availability and detailed book descriptions.</p>
            <p>Easily browse through categories like Fiction, Science, History, Technology, Literature, and more.</p>
            <p>Enjoy a clean, user-friendly interface designed for all devices.</p>            
        </div>  
    </div>

    <div class="container-fluid about-gallery p-1 m-1 mt-5 ">
        <div class="col-md-8 m-1 mt-5">
            <h5><strong>🎯 Our Vision</strong></h5>
            <p>We aim to foster a love for reading by connecting readers with books they’ll love. <br> Whether you're preparing for exams, conducting research, or simply reading for pleasure, <br> Book Library is your trusted partner in learning and discovery.</p>
            <h5><strong>🤝 Join Our Community</strong></h5>
            <p>Become a part of our growing reader base. Stay updated with new arrivals, featured books, and personalized recommendations.
            <br> Thank you for choosing Book Library — where every page brings a new journey.</p>
        </div>
        <div class="col-md-4 m-2">
            <img src="{% static 'images/about3.jpg' %}" alt="about2">
        </div>
    </div>
{% endblock content %}


