{% extends "navbar.html" %}
{% load static %}

{% block content %}

{% if messages %}
    {% for message in messages %}
         <div class="alert custom-alert alert-{{ message.tags }} alert-dismissible fade show fade-out" role="alert" id="alert{{ forloop.counter }}">
            <i class="
              {% if message.tags == 'success' %}fas fa-check-circle text-success
              {% elif message.tags == 'warning' %}fas fa-exclamation-triangle text-warning
              {% elif message.tags == 'error' %}fas fa-times-circle text-danger
              {% elif message.tags == 'info' %}fas fa-info-circle text-info
              {% endif %}
            "></i>

          <div>
            <strong>
                {% if message.tags == 'success' %}Congratulations{% endif %}
                {% if message.tags == 'warning' %}Heads up{% endif %}
                {% if message.tags == 'error' %}Error{% endif %}
                {% if message.tags == 'info' %}Information{% endif %}
            </strong>
              {{ message }}
          </div>
         <button type="button" class="btn-close ms-auto me-2" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
    {% endfor %}
  {% endif %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ISBN Number</th>
      <th scope="col">User Name</th>
      <th scope="col">Title</th>
      <th scope="col">Status</th>
      <th scope="col">Approve / Reject</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
        <tr>
            <td>{{book.book.isbn_num}}</td>
            <td>{{book.user.username}}</td>
            <td>{{book.book.title}}</td>
            <td>
              {% if book.status == 'P' %}
                <span class="badge bg-warning text-dark">Pending</span>
              {% elif book.status == 'A' %}
                <span class="badge bg-success">Approved</span>
              {% elif book.status == 'R' %}
                <span class="badge bg-danger">Rejected</span>
              {% else %}
                <span class="text-muted">{{ req.status }}</span>
              {% endif %}
            </td>
            <td>
                 {% if book.status == 'P' %}
                    <form action="{% url 'approve_request' book.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-success btn-sm">Approve</button>
                    </form>

                    <form action="{% url 'reject_request' book.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger btn-sm">Reject</button>
                    </form>
                {% else %}

                  {% if book.status == 'P' %}
                    <span class="text-muted">Already Pending</span>
                  {% elif book.status == 'A' %}
                    <span class="text-muted">Already Approved</span>
                  {% elif book.status == 'R' %}
                    <span class="text-muted">Already Rejected</span>
                {% endif %}
                {% endif %}
            
            </td>
        </tr>
    {% endfor %}
  </tbody>
</table>



{% endblock content %}